blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin:0;
	padding:0
}
body,button,input,select,textarea {
	font:12px/1.5tahoma,arial,\5b8b\4f53
}
button,h1,h2,h3,h4,h5,h6,input,select,textarea {
	font-size:100%
}
address,cite,dfn,em,var {
	font-style:normal
}
code,kbd,pre,samp {
	font-family:couriernew,courier,monospace
}
small {
	font-size:12px
}
ol,ul {
	list-style:none
}
a {
	text-decoration:none
}
sup {
	vertical-align:text-top
}
sub {
	vertical-align:text-bottom
}
legend {
	color:#000
}
fieldset,img {
	border:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
.m-no-select {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.clearfix:after,.clearfix:before {
	content:" ";
	display:table;
	zoom:1
}
.clearfix:after {
	height:0;
	line-height:0;
	visibility:hidden;
	clear:both
}
